.button {
  width: 100px;
  height: 30px;
  background-color: var(--colors-bg);
  color: var(--colors-text);
  border: 2px solid var(--colors-ui-primary);
  border-radius: 10px;
  text-transform: capitalize;
}
