.switcherWrapper {
  height: 24px;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.lngButton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-style: none;
  margin-right: 5px;
  background-color: var(--colors-switch-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.lngButtonRu {
  background-image: url('../../assets/icons/flag-ru.svg');
  background-size: 16px 12px;
}

.lngButtonEn {
  background-image: url('../../assets/icons/flag-gb.svg');
  background-size: 16px 12px;
}
