.caption {
  color: var(--colors-text);
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
  margin-top: 60px;
  margin-bottom: 0;
}

.greeting {
  color: var(--colors-text-gray);
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin-top: 10px;
  margin-bottom: 0;
}

.invitation {
  color: var(--colors-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin-top: 60px;
}
